html {
    /*font-family: 'Dela Gothic One', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.topBar {
    height: 100px;
    width: 100vw;
    background-color: #030C2F;
    display: flex;
    flex-direction: column;
}

.menu {
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #84A5CE;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerBar {
    width: 70%;
    height: 100%;
}

.actions {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    max-height: 300px;
    object-fit: cover;
}

.cont-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb-3 {
    width: 700px;
}
.card-dest {
    display: flex;
    justify-content: center;
}